/* VISTA DE ESCRITORIO ESCALADA PARA MÓVIL */

@media screen and (max-width: 480px) {
  body {
    transform: scale(0.35) !important;
    transform-origin: top left !important;
    width: 285.7% !important;
    height: 285.7% !important;
  }
  
  html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    transform: scale(0.5) !important;
    transform-origin: top left !important;
    width: 200% !important;
    height: 200% !important;
  }
  
  html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
}